<% unless user == current_user %>
  <div data-controller="button-switch" data-button-switch-active-value="<%= user.has_follower?(current_user) %>">
    <%= button_to "Unfollow",
      user_followings_path(follower_id: current_user.id, following_id: user.id),
      method: :delete,
      class: "button is-small mt-1",
      data: { button_switch_target: "deactivateBtn", action: "button-switch#deactivate" }
    %>
    <%= button_to "Follow",
      user_followings_path(follower_id: current_user.id, following_id: user.id),
      method: :create,
      class: "button is-small mt-1",
      data: { button_switch_target: "activateBtn", action: "button-switch#activate" }
    %>
  </div>
<%end%>
